  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }

  /* Contenedor de las tarjetas */
  /*  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  } */

  /* Estilos de las tarjetas */
  .col-md-6 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .col-md-6 {
      width: 50%;
    }
  }

  .card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  /* Tarjeta verde claro */
  .card.bg-light:nth-child(1) {
    background-color: #e6f3e6;
  }

  /* Tarjeta gris claro */
  .card.bg-light:nth-child(2) {
    background-color: #f0f0f0;
  }

  .card-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e9ecef;
    font-weight: bold;
    color: #495057;
  }

  .card-body {
    padding: 20px;
    position: relative;
  }

  .card-title {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #212529;
  }

  .card-text {
    margin: 0 0 15px 0;
    color: #6c757d;
  }

  /* Estilos específicos */
  #clientes-online,
  #soportes-pendientes,
  #contratos-pendientes {
    margin: 0;
  }

  #total-registrados,
  #total-soportes {
    font-size: 14px;
  }

  .card-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 48px;
    color: #6c757d;
  }

  #inputGroupCoordenada {
    /* Aumenta el ancho máximo según tus necesidades */
    max-width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  #CoordenadaModel {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
  }

  #buscarBtn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  #buscarBtn:hover {
    background-color: #0056b3;
  }

  .select2-container--bootstrap-5 .select2-selection--single {
    height: calc(3.5rem + 2px);
  }

  .select2-container--bootstrap-5 .select2-selection__rendered {
    margin-top: 18px;
  }