.antena-header {
  background-color: #ff9100;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}
.router-header {
  background-color: #227a36;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}

.btn-container {
  margin-left: -50px;
}

.hidden {
  display: none;
}

.card-header{
  background-color: #014080;
  color: white;
}

.btn-primary {
  background-color: #014080;
  border-color: #014080;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}

