.antena-header {
  background-color: #ff9100;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}
.router-header {
  background-color: #227a36;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}

.btn-container {
  margin-left: -50px;
}

.hidden {
  display: none;
}

.card-header{
  background-color: #0459ad;
  color: white;
}

