#fondo-login {
  background-color: #110450;
}

.custom-margin {
  margin-top: 160px;
}

.btn-custom {
  background-color: #140463;
  color: #fff;
  border: none;
}

.btn-custom:hover {
  background-color: #2c04bd;
  color: #fff;
}

img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: brightness(1.2);
}

img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: brightness(1.5);
} 